@font-face {
    font-family: "Family & Friends";
    src: url("../font/Family&Friends.ttf") format("truetype");
    }

body{
    color: white;
    font-family: "Family & Friends";

}

#gameOver{
    display: block;
    margin-left : 0;
    margin-top : 0;
    max-width : 80%;
    position : absolute;
    top : 50%;
    background-color: red;
}

.container-fluid{
    background-color: #2D519F;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 100vh;

}

p {
    text-align: center;
    font-size: 24px;
}
.game
{
    max-width: 1023px;

    background: url('../img/background.jpg') ;

    background-repeat: no-repeat;


}

.header{
    max-width: 1023px;

    background-image : url('../img/header.jpg') ;
    background-repeat: no-repeat;

}

.header a{
    color: #80eaf4;
}

.logo_onirix {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 145px;
    max-width: 145px;
}

.dos_cartes {
    margin-top: 20px;
    max-height: 110px;
    -moz-box-shadow: -5px 2px 5px 1px rgba( 0, 0, 0, .7);
    -webkit-box-shadow: -5px 2px 5px 1px rgba( 0, 0, 0, .7);
    -o-box-shadow: -5px 2px 5px 1px rgba( 0, 0, 0, .7);
    box-shadow: -5px 2px 5px 1px rgba( 0, 0, 0, .7);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba( 0, 0, 0, .7), Direction=201, Strength=5);
    transform: rotate(180deg);
    margin-left: 10px;
}

.cartesJ1{
    display: flex;
    justify-content: center;
}

.piochej2{
    margin-top: 20px;
    max-height: 110px;
    transform: rotate(180deg);
}

.icones_game{
    margin-top: 20px;

}

.miniatures{
    margin-top: 13px;
    max-height: 50px;
    max-width: 50px;
}


.icones {
    display: flex;
    padding-top: 20px;
    flex-direction: column;


}

.iconesj1 {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    justify-content: end;

}


.carte_en_jeu{
    display: flex;
    height: 140px;
    margin-top: 25px;
}

.first_player{
    bottom: 0;
}

.cartes {
    margin-top: 20px;
    max-height: 120px;
    -moz-box-shadow: -5px 2px 5px 1px rgba( 0, 0, 0, .7);
    -webkit-box-shadow: -5px 2px 5px 1px rgba( 0, 0, 0, .7);
    -o-box-shadow: -5px 2px 5px 1px rgba( 0, 0, 0, .7);
    box-shadow: -5px 2px 5px 1px rgba( 0, 0, 0, .7);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba( 0, 0, 0, .7), Direction=201, Strength=5);
    margin-left: 10px;
    transition: all 0.2s ease;
}

.cartes:hover{
    margin-top: -100px;
    max-height: 240px;
}

.piochej1{

    margin-top: 20px;
    max-height: 110px;
}


.pioche_j1{
    display: flex;
    flex-direction: row;
}

.pioche_j2{
    display: flex;
    flex-direction: row;

}

.await{
    /* padding-left: 10px;
    padding-right: 10px; */
}

.awaitCard, .boardCard{
    margin-left: 8px;
    margin-right: 8px;
}

.attacking{
    border-radius: 50px;
    border: 2px solid red;
}
