body {
    margin: 0;
    text-align: center;
    box-sizing: content-box;
}
#connexion {
    padding-top: 30px;
    margin : 0 auto;
    width: 1024px;
    height : 80px;
    background-color: lightgreen;
}


#plateau {
    border: 1px solid black;
    margin : 0 auto;
    width: 1024px;
    height : 850px;
    background-color: lightblue;
    position: relative;
}



.historique {
    position: absolute;
    top: 170px;
    width: 200px;
    height: 400px;
    border: 1px solid black;
    justify-content: center;
}


/* ----------------------BOARD------------------------------ */

.carteEnJeu {
    left: 25%;
    top: 170px;
    position: absolute;
    width: 550px;
    height: 500px;
    border: 1px solid black;
    justify-content: center;
    position: relative;
}


/* ----------------------Joueur ----------------------2 */

.carteJ2  {

    left: 5%;
    border: 1px solid black;
    position : absolute;
    top: 20px;
    height: 100px;
    width: 480px;

}



.pioche2 {

    top: 0px;
    right: 0;
    position: absolute;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    justify-content: center;

}

.mainJoueur2 {
    left: 25%;
    position: absolute;
    width: 550px;
    height: 150px;
    border: 1px solid black;
    justify-content: center;
}


.vieJ2 {
    position : absolute;
    left: 0;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    justify-content: center;

}


.manaJ2 {
    position : absolute;
    left: 80px;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    justify-content: center;

}


.defausseJ2 {
    position : absolute;
    right: 0;
    top : 170px;
    width: 150px;
    height: 100px;
    border: 1px solid black;

}



.restJ2 {
    position : absolute;
    left: 5%;
    border: 1px solid black;
    top: 125px;
    height: 105px;
    width: 480px;

}



/* --------------------Joueur 1-------------------------- */

.carteJ1  {

    left: 5%;
    border: 1px solid black;
    position : absolute;
    bottom: 20px;
    height: 210px;
    width: 480px;


}



.mainJoueur1 {
    bottom: 0;
    left: 25%;
    position: absolute;
    width: 550px;
    height: 150px;
    border: 1px solid black;
    justify-content: center;
}




.pioche1 {

    bottom: 00px;
    right: 0;
    position: absolute;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    justify-content: center;

}


.vieJ1 {
    position : absolute;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    justify-content: center;

}


.manaJ1 {
    position : absolute;
    left: 80px;
    bottom: 0;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    justify-content: center;

}


.defausseJ1 {
    position : absolute;
    right: 0;
    bottom : 170px;
    width: 150px;
    height: 100px;
    border: 1px solid black;

}



.restJ1 {
    position : absolute;
    left: 5%;
    border: 1px solid black;
    bottom : 20px;
    height: 100px;
    width: 480px;

}


.carteMain {
    display: inline-block;
    border : 1px solid black;
    width: 80px;
    height: 100px;

}